---
---

@import "minima";

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    color: #383838;
    background-color: darkseagreen;
}

a {
    color: saddlebrown;
}

a:visited {
    color: teal;
}
