---
---

@import "minima";

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: black;
}

a {
    color: #0366d6;
}

a:visited {
    color: #0366d6;
}
